<footer>
    <p>Alice Souza Lima - DevRise © 2023</p>
    <div class="contact-container">
        <div class="icon">
            <a href="https://wa.me/5531986126853" target="_blank">
                <mat-icon aria-hidden="false" aria-label="search icon" fontIcon="call"></mat-icon>
            </a>
            <a href="mailto:alicesouzlima@gmail.com?subject=&body=" target="_blank">
                <mat-icon aria-hidden="false" aria-label="search icon" fontIcon="mail"></mat-icon>
            </a>
            <a href="https://instagram.com/devrisecompany?igshid=MzRlODBiNWFlZA==">
                <mat-icon aria-hidden="false" aria-label="search icon" fontIcon="alternate_email"></mat-icon>
            </a>
        </div>
        <p>Contate-nos para mais detalhes.</p>
    </div>
</footer>