@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #303030;
}

::-webkit-scrollbar-thumb {
    background: rgb(203, 147, 255);;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #303030;
    overflow-x: hidden;
    font-family: Nunito, sans-serif;
}
